<h1>Списък езици</h1>

<table>
  <tr>
    <th>Език</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_languages.each do |language| %>
  <tr>
    <td><%= link_to language.name, [:admin, language] %></td>
    <td><%= link_to 'Редактирай', edit_admin_language_path(language) %></td>
    <td><%= link_to 'Изтрий', [:admin, language], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добави език', new_admin_language_path %>
