<h1>Списък езици</h1>

<table>
  <tr>
    <th>Език</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_languages.each do |admin_language| %>
  <tr>
    <td><%= link_to admin_language.title, admin_language %></td>
    <td><%= link_to 'Редактирай', edit_admin_language_path(admin_language) %></td>
    <td><%= link_to 'Изтрий', admin_language, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добави език', new_admin_language_path %>
