<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_language.title %>
</p>


<%= link_to 'Edit', edit_admin_language_path(@admin_language) %> |
<%= link_to 'Back', admin_languages_path %>
