<p>Здравей <%= @resource.email %>!</p>

<p>Някой e поискал линк за смяна на паролата.</p>

<p><%= link_to 'Смени паролата', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ако не сте поискали смяна на паролата игнорирайте този емайл</p>
<p>Паролата няма да се смени ако не отворите горният линк</p>
